name: Deploy Django

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Ambiente a desplegar"
        required: true
        type: choice
        options:
          - dev
          - staging
          - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v5

      - name: Set environment variables dynamically
        run: |
          echo "EC2_HOST=${{ secrets.EC2_HOST }}" >> $GITHUB_ENV

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts

      - name: Upload project files with rsync
        run: |
          rsync -avz --delete --mkpath \
            --exclude='.git' \
            --exclude='.github' \
            ./ \
            ec2-user@$EC2_HOST:/opt/app/

      - name: Update .env on server
        run: |
          ssh ec2-user@$EC2_HOST "bash -s" << EOF
          cd /opt/app/
          cat > .env << EOT
          DJANGO_DEBUG=${DEBUG}
          SECRET_KEY=${SECRET_KEY}
          DATABASE_URL=${DATABASE_URL}
          EMAIL_HOST=${EMAIL_HOST}
          EMAIL_PORT=${EMAIL_PORT}
          EMAIL_HOST_USER=${EMAIL_HOST_USER}
          EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
          EMAIL_USE_TLS=${EMAIL_USE_TLS}
          EMAIL_USE_SSL=${EMAIL_USE_SSL}
          ADMIN_USER_EMAIL=${ADMIN_USER_EMAIL}
          CORS_ALLOW_ALL_ORIGINS=${CORS_ALLOW_ALL_ORIGINS}
          CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
          CORS_ALLOW_CREDENTIALS=${CORS_ALLOW_CREDENTIALS}
          STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
          STRIPE_PUBLISHABLE_KEY=${STRIPE_PUBLISHABLE_KEY}
          STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
          AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
          AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
          AWS_STORAGE_BUCKET_NAME=${AWS_STORAGE_BUCKET_NAME}
          CURRENT_SITE=${CURRENT_SITE}
          EOT
          EOF
        env:
          DEBUG: ${{ vars.DEBUG }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          EMAIL_HOST: ${{ secrets.EMAIL_HOST }}
          EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
          EMAIL_HOST_USER: ${{ secrets.EMAIL_HOST_USER }}
          EMAIL_HOST_PASSWORD: ${{ secrets.EMAIL_HOST_PASSWORD }}
          EMAIL_USE_TLS: ${{ secrets.EMAIL_USE_TLS }}
          EMAIL_USE_SSL: ${{ secrets.EMAIL_USE_SSL }}
          ADMIN_USER_EMAIL: ${{ secrets.ADMIN_USER_EMAIL }}
          CORS_ALLOW_ALL_ORIGINS: ${{ secrets.CORS_ALLOW_ALL_ORIGINS }}
          CORS_ALLOWED_ORIGINS: ${{ secrets.CORS_ALLOWED_ORIGINS }}
          CORS_ALLOW_CREDENTIALS: ${{ secrets.CORS_ALLOW_CREDENTIALS }}
          STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
          STRIPE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_PUBLISHABLE_KEY }}
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_STORAGE_BUCKET_NAME: ${{ secrets.AWS_STORAGE_BUCKET_NAME }}
          CURRENT_SITE: ${{ secrets.CURRENT_SITE }}

      - name: Clean volumes only in dev
        if: ${{ inputs.environment == 'dev' }}
        run: |
          ssh ec2-user@$EC2_HOST "bash -s" << 'EOF'
          cd /opt/app/
          docker compose down -v || true
          EOF

      - name: Build Docker image
        run: |
          ssh ec2-user@$EC2_HOST "bash -s" << 'EOF'
          cd /opt/app/
          docker compose down || true
          docker compose pull || true
          docker compose up -d --build
          EOF
